################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
.vscode/obj
/Source/*/.vs
/Source/*/*/bin
/Source/*/*/obj
